<section class="intro">
  <div class="container-body">
  	<div class="row">
	    <div class="col-sm-6 container-left">
		    <p class="lead">
			Hello - I am a software developer with industry experience of 7.5 years. I completed my Masters in Computer Science from <a href="https://www.gatech.edu/">Georgia Institute of Technology</a> in Fall 2020.
			<br /><br />
			My interests lie in application development, web development, ML, data and visual analytics.
			<br /><br />
			In the past, I spent 3 years at <a href="https://www.accenture.com/in-en">Accenture</a>, as a .NET application developer working with the data, business as well as presentation layer of applications.
			</p>
			<br />
			<p>
			In my spare time, I enjoy reading, painting and traveling.
			</p>
	  	</div>

	  	<div class="col-sm-6 container-right">
	  		<p class="lead">			  	
				<h> Skills — </h>
				<br /><br />
				<span> Languages/Technologies: </span> Python 3.6, C#, Java, .NET 4.5, VB.NET, ASP.NET, WPF, XAML, LINQ, WinForms,
Entity Framework, HTML, CSS, , NodeJS, D3, jQuery, NoSQL, MongoDB, T-SQL, Bootstrap CSS.
				<br /><br />
				<span> Tools/Frameworks: </span> MS SQL Server, MySQL, Oracle, SQLite, Git, NPM, AWS, Microsoft Azure, Docker, Jira,
Apache Tomcat, Tableau, Gephi, OpenRefine, Hadoop, Spark, OpenCV, NLTK, Numpy, Pandas, scikit-learn.
			</p>
		</div>
	</div>
  </div>
</section>
